.top-heroes
  display: flex
  .hero-item
    flex: 0 0 100px
    height: 100px
    background #999
    color: #fff
    margin: 20px
    display: flex
    align-items: center
    justify-content: center